<!-- inspiration for the headre comes from our kingsman tailor homework https://git.generalassemb.ly/seir-9-21/student-resources/blob/master/2_full_stack_dev/w06d03/homework/README.md -->
<div class="header">
    <div class="header-title">
        <img src="/images/logo.jpeg" id="ga-logo">
        <h1 id="h-title">General Assembly Course Catalog</h1>
    </div>
    <div class="header-nav">
        <ul>
            <li><a href="/days" class="nav-links">Back to Index</a></li>
            <% if (currentUser) {%>
                <li>Welcome <%=currentUser.username%></li>
                <% if (currentUser.username === 'userAdmin0956') {%>
                    <li><a href="/days/new" id="new-link">Add a new Day</a></li>
                <%}%>
                <li>
                    <form action="/sessions/?_method=DELETE" method="POST">
                        <input type="submit" value="Log Out">
                    </form>
                </li>
            <%} else {%>
                <li><a href="/users/new" class="session-link">Sign Up</a></li>
                <li><a href="/sessions/new" class="session-link">Log In</a></li>
            <%}%>
        </ul>
    </div>
</div>