<!-- inspiration for the headre comes from our kingsman tailor homework https://git.generalassemb.ly/seir-9-21/student-resources/blob/master/2_full_stack_dev/w06d03/homework/README.md -->
<div class="header">
    <div class="header-title">
        <img src="/images/logo.jpeg" id="ga-logo">
        <h1 id="h-title">General Assembly Course Catelog</h1>
    </div>
    <div class="header-nav">
        <ul>
            <li><a href="/days" class="nav-links">Back to Index</a></li>
        </ul>
    </div>
</div>