<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form.css">
    <title>Edit a Day</title>
</head>
<body>
    <div class="container">
        <h1>Edit This Day</h1>
        <%- include ('../partials/form.ejs')%>
    </div>
</body>
</html>