<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <ul>
        <% for (let i = 1; i <= 12; i++) {%>
        <li>
            <div>
                <h2>Week <%=i%></h2>
            </div>
        </li>
        <%}%>
    </ul>
</body>
</html>