<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>New Day</title>
</head>
<body>
    <%- include ('../partials/header.ejs')%>
    <div class="container">
        <h1>Add a new Day to the list</h1>
        <%- include ('../partials/form.ejs') %>
    </div>
</body>
</html>