/* inspiration for all form styles comes from the form moring exercise we did on w05d05  https://git.generalassemb.ly/seir-9-21/student-resources/blob/master/2_full_stack_dev/w05d05/morning_exercise/README.md*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
    background-color: #eee;
}
.container > h1 {
    font-family: 'Poppins', sans-serif;
    border-bottom: 2px solid #74c4cc;
}
textarea {
    width: 100%;
    height: 100px;
    resize: none;
    border: 2px solid #74c4cc;
    box-sizing: border-box;
}
label {
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
}
input {
    width: 100%;
    border: 2px solid #74c4cc;
    box-sizing: border-box;
}
input[type="submit"] {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #74c4cc;
    box-shadow: 3px 3px rgb(151, 151, 151);
}
input:focus {
    border: 2px solid rgb(151, 151, 151);
}
.container {
    width: 400px;
    margin: 150px auto;
}
form {
    border: 1px solid rgb(151, 151, 151);
}
