@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
}
.header {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    /* inspiration for the fixed positioning taken from https://www.w3.org/Style/Examples/007/menus.en.html */
    position: fixed;
    top: 0;
    left: 0;
    width: 99%;
}
.header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-title > img {
    width: 100px;
    height: 100px;
}
.header-title > h1 {
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
}
.header-nav {
    display: flex;
    align-items: center;
}
.header-nav > ul {
    list-style-type: none;
}
.header-nav > li {
    display: inline-block;
    padding: 0 10px;
}
.nav-links {
    color: red;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 18px;
}
.nav-links:hover {
    color: black;
    transition: 0.2s ease-in;
}