body {
    margin: 0;
}
.header {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 99%;
}
.header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-title > img {
    width: 100px;
    height: 100px;
}
.header-title > h1 {
    margin-left: 10px;
}
.header-nav {
    display: flex;
    align-items: center;
}
.header-nav > ul {
    list-style-type: none;
}
.header-nav > li {
    display: inline-block;
    padding: 0 10px;
}
.nav-links {
    color: rgb(151, 151, 151);
    text-decoration: none;
}
.nav-links:hover {
    color: black;
    transition: 0.2s ease-in;
}