<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sign-in.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>Sign up</title>
</head>
<body>
    <%- include ('../partials/header.ejs')%>
    <div class="container">
        <h1>Sign up</h1>
        <form action="/users" method="POST" id="form">
            <label for="username">Username</label>
            <input type="text" name="username" class="sign-in-input">
            <label for="password">Password</label>
            <input type="password" name="password" class="sign-in-input">
            <input type="submit" value="Sign Up" id="submit">
        </form>
    </div>
</body>
</html>